$bg-dark: #333333;
$bg-secondary-dark: #515151;
$color-headings-dark: #0077ff;
$color-headings2-dark: #f87641;
$color-text-dark: #fcfcfc;
$red-message-dark: rgb(246, 96, 96);
$orange-message-dark: orange;
$yellow-message-dark: yellow;
$green-message-dark: rgb(91, 182, 91);
$blue-message-dark: rgb(40, 170, 251);
$purple-message-dark: rgb(250, 113, 250);
