$bg-light: #e9e9e9;
$bg-secondary-light: #bebebe;
$color-headings-light: #268bff;
$color-headings2-light: #faa05c;
$gradient-color2-light: #00F6F7;
$color-text-light: #333333;
$red-message-light: red;
$orange-message-light: orange;
$yellow-message-light: yellow;
$green-message-light: green;
$blue-message-light: blue;
$purple-message-light: purple;
