/* 
  General Styling
*/
.card-title {
  font-weight: bold; }

div.card-body-row svg {
  color: #d4967d; }

/* 
  Theme Specific Styling
*/
[data-theme="Light"] div.card {
  background-color: #bebebe;
  border: 1px solid #0b0b0b; }

[data-theme="Light"] div.card-body {
  color: #0b0b0b; }

[data-theme="Gradient"] div.card,
[data-theme="Dark"] div.card {
  background-color: #515151;
  border: 1px solid #e1dfdf; }

[data-theme="Gradient"] div.card-body,
[data-theme="Dark"] div.card-body {
  color: #e1dfdf; }
