div.event-log {
  border-radius: 5px; }

[data-theme="Gradient"] div.event-log {
  background-color: #6b6b6b;
  color: #fcfcfc;
  border: 1px solid #e9e9e9; }

[data-theme="Light"] div.event-log {
  background-color: #bebebe;
  color: #333333;
  border: 1px solid #333333; }

[data-theme="Dark"] div.event-log {
  background-color: #6b6b6b;
  color: #fcfcfc;
  border: 1px solid #e9e9e9; }

div.event-log {
  overflow-y: scroll;
  max-height: 75vh; }

[data-theme="Light"] div.event-log > div.row > div.red-message {
  color: red; }

[data-theme="Light"] div.event-log > div.row > div.orange-message {
  color: orange; }

[data-theme="Light"] div.event-log > div.row > div.yellow-message {
  color: yellow; }

[data-theme="Light"] div.event-log > div.row > div.green-message {
  color: green; }

[data-theme="Light"] div.event-log > div.row > div.blue-message {
  color: blue; }

[data-theme="Light"] div.event-log > div.row > div.purple-message {
  color: purple; }

[data-theme="Dark"] div.event-log > div.row > div.red-message,
[data-theme="Gradient"] div.event-log > div.row > div.red-message {
  color: #f66060; }

[data-theme="Dark"] div.event-log > div.row > div.orange-message,
[data-theme="Gradient"] div.event-log > div.row > div.orange-message {
  color: orange; }

[data-theme="Dark"] div.event-log > div.row > div.yellow-message,
[data-theme="Gradient"] div.event-log > div.row > div.yellow-message {
  color: yellow; }

[data-theme="Dark"] div.event-log > div.row > div.green-message,
[data-theme="Gradient"] div.event-log > div.row > div.green-message {
  color: #5bb65b; }

[data-theme="Dark"] div.event-log > div.row > div.blue-message,
[data-theme="Gradient"] div.event-log > div.row > div.blue-message {
  color: #28aafb; }

[data-theme="Dark"] div.event-log > div.row > div.purple-message,
[data-theme="Gradient"] div.event-log > div.row > div.purple-message {
  color: #fa71fa; }
