#numericalProgressTracker {
  display: flex;
  justify-content: center;
  align-items: center; }

[data-theme="Gradient"] #numericalProgressTracker {
  color: white; }

[data-theme="Light"] #numericalProgressTracker {
  color: black; }

[data-theme="Dark"] #numericalProgressTracker {
  color: white; }
