#numericalProgressTracker {
  display: flex;
  justify-content: center;
  align-items: center; }

[data-theme="gradient"] #numericalProgressTracker {
  color: white; }

[data-theme="light"] #numericalProgressTracker {
  color: black; }

[data-theme="dark"] #numericalProgressTracker {
  color: white; }
