#numericalProgressTracker {
  display: flex;
  justify-content: center;
  align-items: center; }

[data-theme="Gradient"] #numericalProgressTracker {
  color: #333333; }

[data-theme="Light"] #numericalProgressTracker {
  color: #0b0b0b; }

[data-theme="Dark"] #numericalProgressTracker {
  color: #e1dfdf; }
