#progressBar,
#progressBarWrapper,
#progressBarFrostEffect {
  border-radius: 5px; }

#progressBarWrapper {
  height: 32px;
  position: relative;
  padding: 0px !important;
  z-index: 0; }

#progressBar,
#progressBarFrostEffect {
  height: 100%;
  position: absolute; }

#progressBar {
  width: 50%;
  z-index: 1;
  background-color: #d4967d; }

#progressBarFrostEffect {
  z-index: 2;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-animation: frostEffectAnimation 5s infinite;
  animation: frostEffectAnimation 5s infinite; }

#progressPercentage {
  z-index: 3;
  margin-bottom: 0px !important;
  margin-top: 3.5px;
  display: flex;
  justify-content: right;
  align-items: center; }

[data-theme="light"] #progressBarWrapper {
  background-color: #bebebe;
  border: 1px solid #bebebe; }

[data-theme="dark"] #progressBarWrapper,
[data-theme="gradient"] #progressBarWrapper {
  background-color: #6b6b6b;
  border: 1px solid #6b6b6b; }

@-webkit-keyframes frostEffectAnimation {
  from {
    width: 0%; }
  to {
    height: 100%; } }

@keyframes frostEffectAnimation {
  from {
    width: 0%; }
  to {
    height: 100%; } }
