#spreadsheetPreviewer th,
#spreadsheetPreviewer td {
  text-align: center; }

[data-theme="Light"] #spreadsheetPreviewer th,
[data-theme="Light"] #spreadsheetPreviewer td {
  background-color: #bebebe;
  color: black;
  border: 1px solid black; }

[data-theme="Gradient"] #spreadsheetPreviewer th,
[data-theme="Gradient"] #spreadsheetPreviewer td,
[data-theme="Dark"] #spreadsheetPreviewer th,
[data-theme="Dark"] #spreadsheetPreviewer td {
  background-color: #6b6b6b;
  color: white;
  border: 1px solid white; }
