/* 
  General Styling
*/
#spreadsheetPreviewer {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid transparent; }

#spreadsheetPreviewer thead {
  border: 1px solid transparent; }

#spreadsheetPreviewer th,
#spreadsheetPreviewer td {
  text-align: center; }

#spreadsheetPreviewer td.row-numbers {
  font-weight: bold; }

/* 
  Make the table round
*/
#spreadsheetPreviewer thead:first-of-type th:first-of-type {
  border-top-left-radius: 10px; }

#spreadsheetPreviewer thead:first-of-type th:last-of-type {
  border-top-right-radius: 10px; }

#spreadsheetPreviewer tbody tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px; }

#spreadsheetPreviewer tbody tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px; }

/* 
  Theme Specific Styling
*/
[data-theme="Light"] {
  /* 
    Apply a 1px border to the component
  */ }
  [data-theme="Light"] #spreadsheetPreviewer th,
  [data-theme="Light"] #spreadsheetPreviewer td,
  [data-theme="Light"] #spreadsheetPreviewer thead.column-names th:first-of-type,
  [data-theme="Light"] #spreadsheetPreviewer tbody tr:nth-of-type(n) td:first-of-type {
    background-color: #bebebe;
    color: #0b0b0b; }
  [data-theme="Light"] #spreadsheetPreviewer thead.column-names th {
    background-color: #d4967d;
    color: #e1dfdf; }
  [data-theme="Light"] #spreadsheetPreviewer tbody tr:nth-of-type(odd) td {
    background-color: #e9e9e9; }
  [data-theme="Light"] #spreadsheetPreviewer tbody tr:nth-of-type(even) td {
    background-color: #e7c4b6;
    color: #0b0b0b; }
  [data-theme="Light"] #spreadsheetPreviewer thead:first-of-type th,
  [data-theme="Light"] #spreadsheetPreviewer thead:first-of-type th:first-of-type {
    border-top: 1px solid #0b0b0b; }
  [data-theme="Light"] #spreadsheetPreviewer thead th:first-of-type,
  [data-theme="Light"] #spreadsheetPreviewer tbody tr td:first-of-type,
  [data-theme="Light"] #spreadsheetPreviewer tbody tr:last-of-type td:first-of-type {
    border-left: 1px solid #0b0b0b; }
  [data-theme="Light"] #spreadsheetPreviewer thead th:last-of-type,
  [data-theme="Light"] #spreadsheetPreviewer tbody tr td:last-of-type,
  [data-theme="Light"] #spreadsheetPreviewer tbody tr:last-of-type td:last-of-type {
    border-right: 1px solid #0b0b0b; }
  [data-theme="Light"] #spreadsheetPreviewer tbody tr:last-of-type td {
    border-bottom: 1px solid #0b0b0b; }

[data-theme="Gradient"],
[data-theme="Dark"] {
  /* 
    Apply a 1px border to the component
  */ }
  [data-theme="Gradient"] #spreadsheetPreviewer th,
  [data-theme="Gradient"] #spreadsheetPreviewer td,
  [data-theme="Gradient"] #spreadsheetPreviewer thead.column-names th:first-of-type,
  [data-theme="Gradient"] #spreadsheetPreviewer tbody tr:nth-of-type(n) td:first-of-type,
  [data-theme="Dark"] #spreadsheetPreviewer th,
  [data-theme="Dark"] #spreadsheetPreviewer td,
  [data-theme="Dark"] #spreadsheetPreviewer thead.column-names th:first-of-type,
  [data-theme="Dark"] #spreadsheetPreviewer tbody tr:nth-of-type(n) td:first-of-type {
    background-color: #333333;
    color: #e1dfdf; }
  [data-theme="Gradient"] #spreadsheetPreviewer thead.column-names th,
  [data-theme="Dark"] #spreadsheetPreviewer thead.column-names th {
    background-color: #d4967d;
    color: #0b0b0b; }
  [data-theme="Gradient"] #spreadsheetPreviewer tbody tr:nth-of-type(odd) td,
  [data-theme="Dark"] #spreadsheetPreviewer tbody tr:nth-of-type(odd) td {
    background-color: #515151; }
  [data-theme="Gradient"] #spreadsheetPreviewer tbody tr:nth-of-type(even) td,
  [data-theme="Dark"] #spreadsheetPreviewer tbody tr:nth-of-type(even) td {
    background-color: #e1b5a3;
    color: #0b0b0b; }
  [data-theme="Gradient"] #spreadsheetPreviewer thead:first-of-type th,
  [data-theme="Gradient"] #spreadsheetPreviewer thead:first-of-type th:first-of-type,
  [data-theme="Dark"] #spreadsheetPreviewer thead:first-of-type th,
  [data-theme="Dark"] #spreadsheetPreviewer thead:first-of-type th:first-of-type {
    border-top: 1px solid #e1dfdf; }
  [data-theme="Gradient"] #spreadsheetPreviewer thead th:first-of-type,
  [data-theme="Gradient"] #spreadsheetPreviewer tbody tr td:first-of-type,
  [data-theme="Gradient"] #spreadsheetPreviewer tbody tr:last-of-type td:first-of-type,
  [data-theme="Dark"] #spreadsheetPreviewer thead th:first-of-type,
  [data-theme="Dark"] #spreadsheetPreviewer tbody tr td:first-of-type,
  [data-theme="Dark"] #spreadsheetPreviewer tbody tr:last-of-type td:first-of-type {
    border-left: 1px solid #e1dfdf; }
  [data-theme="Gradient"] #spreadsheetPreviewer thead th:last-of-type,
  [data-theme="Gradient"] #spreadsheetPreviewer tbody tr td:last-of-type,
  [data-theme="Gradient"] #spreadsheetPreviewer tbody tr:last-of-type td:last-of-type,
  [data-theme="Dark"] #spreadsheetPreviewer thead th:last-of-type,
  [data-theme="Dark"] #spreadsheetPreviewer tbody tr td:last-of-type,
  [data-theme="Dark"] #spreadsheetPreviewer tbody tr:last-of-type td:last-of-type {
    border-right: 1px solid #e1dfdf; }
  [data-theme="Gradient"] #spreadsheetPreviewer tbody tr:last-of-type td,
  [data-theme="Dark"] #spreadsheetPreviewer tbody tr:last-of-type td {
    border-bottom: 1px solid #e1dfdf; }
