[data-animation-name="animate-to-top-left"] {
  -webkit-animation-name: animate-to-top-left;
  animation-name: animate-to-top-left;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-top-left {
  from { }
  to {
    background-position-x: 0%;
    background-position-y: 0%; } }

@keyframes animate-to-top-left {
  from { }
  to {
    background-position-x: 0%;
    background-position-y: 0%; } }

[data-animation-name="animate-to-top-center"] {
  -webkit-animation-name: animate-to-top-center;
  animation-name: animate-to-top-center;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-top-center {
  from { }
  to {
    background-position-x: 50%;
    background-position-y: 0%; } }

@keyframes animate-to-top-center {
  from { }
  to {
    background-position-x: 50%;
    background-position-y: 0%; } }

[data-animation-name="animate-to-top-right"] {
  -webkit-animation-name: animate-to-top-right;
  animation-name: animate-to-top-right;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-top-right {
  from { }
  to {
    background-position-x: 100%;
    background-position-y: 0%; } }

@keyframes animate-to-top-right {
  from { }
  to {
    background-position-x: 100%;
    background-position-y: 0%; } }

[data-animation-name="animate-to-center-left"] {
  -webkit-animation-name: animate-to-center-left;
  animation-name: animate-to-center-left;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-center-left {
  from { }
  to {
    background-position-x: 0%;
    background-position-y: 50%; } }

@keyframes animate-to-center-left {
  from { }
  to {
    background-position-x: 0%;
    background-position-y: 50%; } }

[data-animation-name="animate-to-center-center"] {
  -webkit-animation-name: animate-to-center-center;
  animation-name: animate-to-center-center;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-center-center {
  from { }
  to {
    background-position-x: 50%;
    background-position-y: 50%; } }

@keyframes animate-to-center-center {
  from { }
  to {
    background-position-x: 50%;
    background-position-y: 50%; } }

[data-animation-name="animate-to-center-right"] {
  -webkit-animation-name: animate-to-center-right;
  animation-name: animate-to-center-right;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-center-right {
  from { }
  to {
    background-position-x: 100%;
    background-position-y: 50%; } }

@keyframes animate-to-center-right {
  from { }
  to {
    background-position-x: 100%;
    background-position-y: 50%; } }

[data-animation-name="animate-to-bottom-left"] {
  -webkit-animation-name: animate-to-bottom-left;
  animation-name: animate-to-bottom-left;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-bottom-left {
  from { }
  to {
    background-position-x: 0%;
    background-position-y: 100%; } }

@keyframes animate-to-bottom-left {
  from { }
  to {
    background-position-x: 0%;
    background-position-y: 100%; } }

[data-animation-name="animate-to-bottom-center"] {
  -webkit-animation-name: animate-to-bottom-center;
  animation-name: animate-to-bottom-center;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-bottom-center {
  from { }
  to {
    background-position-x: 50%;
    background-position-y: 100%; } }

@keyframes animate-to-bottom-center {
  from { }
  to {
    background-position-x: 50%;
    background-position-y: 100%; } }

[data-animation-name="animate-to-bottom-right"] {
  -webkit-animation-name: animate-to-bottom-right;
  animation-name: animate-to-bottom-right;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-bottom-right {
  from { }
  to {
    background-position-x: 100%;
    background-position-y: 100%; } }

@keyframes animate-to-bottom-right {
  from { }
  to {
    background-position-x: 100%;
    background-position-y: 100%; } }

[data-theme="light"] {
  background-color: #fcfcfc; }
  [data-theme="light"] button.brown-button {
    background-color: #d4967d;
    color: white;
    border: 1px solid #fcfcfc; }
  [data-theme="light"] button.brown-button:hover {
    background-color: white;
    color: #d4967d;
    border: 1px solid #d4967d; }
  [data-theme="light"] ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #dadada;
    opacity: 1;
    /* Firefox */ }
  [data-theme="light"] :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #dadada; }
  [data-theme="light"] ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #dadada; }

[data-theme="dark"] {
  background-color: #333333; }
  [data-theme="dark"] button.brown-button {
    background-color: #d4967d;
    color: #333333;
    border: 1px solid #333333; }
  [data-theme="dark"] button.brown-button:hover,
  [data-theme="dark"] button.brown-button:focus,
  [data-theme="dark"] button.brown-button:active {
    background-color: #333333;
    color: #d4967d;
    border: 1px solid #d4967d;
    box-shadow: 0px 0px 10px #d4967d; }
  [data-theme="dark"] ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #6b6b6b;
    opacity: 1;
    /* Firefox */ }
  [data-theme="dark"] :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #6b6b6b; }
  [data-theme="dark"] ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #6b6b6b; }

div#root {
  width: 100vw;
  height: 100vh; }

div.container-fluid {
  width: 100%;
  height: 100%; }

button.full-width-button {
  width: 100%;
  height: 100%; }

button.brown-button:focus {
  box-shadow: 0 0 0 0.25rem #e7c4b6; }
