[data-animation-name="animate-to-top-left"] {
  -webkit-animation-name: animate-to-top-left;
  animation-name: animate-to-top-left;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-top-left {
  from { }
  to {
    background-position-x: 0%;
    background-position-y: 0%; } }

@keyframes animate-to-top-left {
  from { }
  to {
    background-position-x: 0%;
    background-position-y: 0%; } }

[data-animation-name="animate-to-top-center"] {
  -webkit-animation-name: animate-to-top-center;
  animation-name: animate-to-top-center;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-top-center {
  from { }
  to {
    background-position-x: 50%;
    background-position-y: 0%; } }

@keyframes animate-to-top-center {
  from { }
  to {
    background-position-x: 50%;
    background-position-y: 0%; } }

[data-animation-name="animate-to-top-right"] {
  -webkit-animation-name: animate-to-top-right;
  animation-name: animate-to-top-right;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-top-right {
  from { }
  to {
    background-position-x: 100%;
    background-position-y: 0%; } }

@keyframes animate-to-top-right {
  from { }
  to {
    background-position-x: 100%;
    background-position-y: 0%; } }

[data-animation-name="animate-to-center-left"] {
  -webkit-animation-name: animate-to-center-left;
  animation-name: animate-to-center-left;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-center-left {
  from { }
  to {
    background-position-x: 0%;
    background-position-y: 50%; } }

@keyframes animate-to-center-left {
  from { }
  to {
    background-position-x: 0%;
    background-position-y: 50%; } }

[data-animation-name="animate-to-center-center"] {
  -webkit-animation-name: animate-to-center-center;
  animation-name: animate-to-center-center;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-center-center {
  from { }
  to {
    background-position-x: 50%;
    background-position-y: 50%; } }

@keyframes animate-to-center-center {
  from { }
  to {
    background-position-x: 50%;
    background-position-y: 50%; } }

[data-animation-name="animate-to-center-right"] {
  -webkit-animation-name: animate-to-center-right;
  animation-name: animate-to-center-right;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-center-right {
  from { }
  to {
    background-position-x: 100%;
    background-position-y: 50%; } }

@keyframes animate-to-center-right {
  from { }
  to {
    background-position-x: 100%;
    background-position-y: 50%; } }

[data-animation-name="animate-to-bottom-left"] {
  -webkit-animation-name: animate-to-bottom-left;
  animation-name: animate-to-bottom-left;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-bottom-left {
  from { }
  to {
    background-position-x: 0%;
    background-position-y: 100%; } }

@keyframes animate-to-bottom-left {
  from { }
  to {
    background-position-x: 0%;
    background-position-y: 100%; } }

[data-animation-name="animate-to-bottom-center"] {
  -webkit-animation-name: animate-to-bottom-center;
  animation-name: animate-to-bottom-center;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-bottom-center {
  from { }
  to {
    background-position-x: 50%;
    background-position-y: 100%; } }

@keyframes animate-to-bottom-center {
  from { }
  to {
    background-position-x: 50%;
    background-position-y: 100%; } }

[data-animation-name="animate-to-bottom-right"] {
  -webkit-animation-name: animate-to-bottom-right;
  animation-name: animate-to-bottom-right;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-bottom-right {
  from { }
  to {
    background-position-x: 100%;
    background-position-y: 100%; } }

@keyframes animate-to-bottom-right {
  from { }
  to {
    background-position-x: 100%;
    background-position-y: 100%; } }

[data-theme="gradient"] {
  background-image: url("../../images/Gradient-Outline.jpg");
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  [data-theme="gradient"] button.styled-button {
    background-color: #d4967d;
    color: #333333;
    border: 1.5px solid #333333; }
  [data-theme="gradient"] button.styled-button:hover,
  [data-theme="gradient"] button.styled-button:focus,
  [data-theme="gradient"] button.styled-button:active {
    background-color: #333333;
    color: #d4967d;
    border: 1px solid #d4967d;
    box-shadow: 0px 0px 10px #d4967d; }
  [data-theme="gradient"] ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #6b6b6b;
    opacity: 1;
    /* Firefox */ }
  [data-theme="gradient"] :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #6b6b6b; }
  [data-theme="gradient"] ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #6b6b6b; }
  [data-theme="gradient"] ::-webkit-scrollbar-track {
    border-radius: 5px; }
  [data-theme="gradient"] ::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 5px; }
  [data-theme="gradient"] ::-webkit-scrollbar-thumb:hover {
    background: #bebebe; }
  [data-theme="gradient"] .animated-alert {
    animation-name: animated-alert;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    opacity: 0%; }

@keyframes animated-alert {
  from {
    opacity: 0%; }
  to {
    opacity: 100%;
    box-shadow: 0px 0px 10px white; } }

@-webkit-keyframes animated-alert {
  from {
    opacity: 0%; }
  to {
    opacity: 100%;
    box-shadow: 0px 0px 10px white; } }

[data-theme="light"] {
  background-color: #fcfcfc;
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  [data-theme="light"] button.styled-button {
    background-color: #d4967d;
    color: white;
    border: 1.5px solid #bebebe; }
  [data-theme="light"] button.styled-button:hover,
  [data-theme="light"] button.styled-button:focus,
  [data-theme="light"] button.styled-button:active {
    background-color: white;
    color: #d4967d;
    border: 1.5px solid #d4967d;
    box-shadow: 0px 0px 10px #d4967d; }
  [data-theme="light"] ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bebebe;
    opacity: 1;
    /* Firefox */ }
  [data-theme="light"] :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bebebe; }
  [data-theme="light"] ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #bebebe; }
  [data-theme="light"] ::-webkit-scrollbar-track {
    border-radius: 5px; }
  [data-theme="light"] ::-webkit-scrollbar-thumb {
    background: #fcfcfc;
    border-radius: 5px; }
  [data-theme="light"] ::-webkit-scrollbar-thumb:hover {
    background: #6b6b6b; }
  [data-theme="light"] .animated-alert {
    animation-name: animated-alert-light;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    opacity: 0%; }

@keyframes animated-alert-light {
  from {
    opacity: 0%; }
  to {
    opacity: 100%;
    box-shadow: 0px 0px 10px black; } }

@-webkit-keyframes animated-alert-light {
  from {
    opacity: 0%; }
  to {
    opacity: 100%;
    box-shadow: 0px 0px 10px black; } }

[data-theme="dark"] {
  background-color: #333333;
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  [data-theme="dark"] button.styled-button {
    background-color: #d4967d;
    color: #333333;
    border: 1.5px solid #6b6b6b; }
  [data-theme="dark"] button.styled-button:hover,
  [data-theme="dark"] button.styled-button:focus,
  [data-theme="dark"] button.styled-button:active {
    background-color: #333333;
    color: #d4967d;
    border: 1.5px solid #d4967d;
    box-shadow: 0px 0px 10px #d4967d; }
  [data-theme="dark"] .form-switch .form-check-input {
    background-color: #d4967d;
    border: 1.25px solid #6b6b6b;
    background-image: url("../../images/White_Switch_BG.png") !important; }
  [data-theme="dark"] .form-switch .form-check-input:checked {
    background-image: url("../../images/Black_Switch_BG.png") !important;
    border: 1.5px solid #6b6b6b; }
  [data-theme="dark"] .form-switch .form-check-input:active,
  [data-theme="dark"] .form-switch .form-check-input:hover,
  [data-theme="dark"] .form-switch .form-check-input:focus {
    background-image: url("../../images/Brown_Switch_BG.png") !important;
    box-shadow: 0px 0px 10px #d4967d;
    border: 1.5px solid #d4967d;
    background-color: #333333; }
  [data-theme="dark"] .form-switch .form-check-input:checked:active,
  [data-theme="dark"] .form-switch .form-check-input:checked:hover,
  [data-theme="dark"] .form-switch .form-check-input:checked:focus {
    background-image: url("../../images/Brown_Switch_BG.png") !important;
    box-shadow: 0px 0px 10px #d4967d;
    border: 1.5px solid #d4967d;
    background-color: #333333; }
  [data-theme="dark"] ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #6b6b6b;
    opacity: 1;
    /* Firefox */ }
  [data-theme="dark"] :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #6b6b6b; }
  [data-theme="dark"] ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #6b6b6b; }
  [data-theme="dark"] ::-webkit-scrollbar-track {
    border-radius: 5px; }
  [data-theme="dark"] ::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 5px; }
  [data-theme="dark"] ::-webkit-scrollbar-thumb:hover {
    background: #bebebe; }

[data-theme="gradient"] .animated-alert,
[data-theme="dark"] .animated-alert {
  animation-name: animated-alert;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  opacity: 0%; }

@keyframes animated-alert {
  from {
    opacity: 0%; }
  to {
    opacity: 100%;
    box-shadow: 0px 0px 10px white; } }

@-webkit-keyframes animated-alert {
  from {
    opacity: 0%; }
  to {
    opacity: 100%;
    box-shadow: 0px 0px 10px white; } }

[data-theme="gradient"],
[data-theme="light"],
[data-theme="dark"] {
  /* width */
  /* Track */ }
  [data-theme="gradient"] .form-switch .form-check-input:checked,
  [data-theme="light"] .form-switch .form-check-input:checked,
  [data-theme="dark"] .form-switch .form-check-input:checked {
    background-color: #d4967d; }
  [data-theme="gradient"] ::-webkit-scrollbar,
  [data-theme="light"] ::-webkit-scrollbar,
  [data-theme="dark"] ::-webkit-scrollbar {
    width: 10px; }
  [data-theme="gradient"] ::-webkit-scrollbar-track,
  [data-theme="light"] ::-webkit-scrollbar-track,
  [data-theme="dark"] ::-webkit-scrollbar-track {
    background: #d4967d; }

div#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

#element-to-animate {
  width: 100%;
  height: 100%; }

.container-for-scroll {
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 10px; }

button.full-width-button {
  width: 100%;
  height: 100%; }

.page-title {
  text-align: center; }

div.form-switch {
  padding-left: 0px !important;
  display: flex; }

.form-switch .form-check-input {
  margin-left: 1.5px !important;
  margin-top: 0px !important;
  align-self: flex-end; }

button.styled-button:focus {
  box-shadow: 0 0 0 0.25rem #e7c4b6; }

button.animated-button {
  -webkit-animation-name: animate-button;
  animation-name: animate-button;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

@keyframes animate-button {
  from {
    box-shadow: 0px 0px 10px transparent; }
  to {
    box-shadow: 0px 0px 10px #cff4fc;
    background-color: #cff4fc;
    color: black; } }

@-webkit-keyframes animate-button {
  from {
    box-shadow: 0px 0px 10px transparent; }
  to {
    box-shadow: 0px 0px 10px #cff4fc;
    background-color: #cff4fc;
    color: black; } }
