[data-animation-name="animate-to-top-left"] {
  -webkit-animation-name: animate-to-top-left;
  animation-name: animate-to-top-left;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-top-left {
  from { }
  to {
    background-position-x: 0%;
    background-position-y: 0%; } }

@keyframes animate-to-top-left {
  from { }
  to {
    background-position-x: 0%;
    background-position-y: 0%; } }

[data-animation-name="animate-to-top-center"] {
  -webkit-animation-name: animate-to-top-center;
  animation-name: animate-to-top-center;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-top-center {
  from { }
  to {
    background-position-x: 50%;
    background-position-y: 0%; } }

@keyframes animate-to-top-center {
  from { }
  to {
    background-position-x: 50%;
    background-position-y: 0%; } }

[data-animation-name="animate-to-top-right"] {
  -webkit-animation-name: animate-to-top-right;
  animation-name: animate-to-top-right;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-top-right {
  from { }
  to {
    background-position-x: 100%;
    background-position-y: 0%; } }

@keyframes animate-to-top-right {
  from { }
  to {
    background-position-x: 100%;
    background-position-y: 0%; } }

[data-animation-name="animate-to-center-left"] {
  -webkit-animation-name: animate-to-center-left;
  animation-name: animate-to-center-left;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-center-left {
  from { }
  to {
    background-position-x: 0%;
    background-position-y: 50%; } }

@keyframes animate-to-center-left {
  from { }
  to {
    background-position-x: 0%;
    background-position-y: 50%; } }

[data-animation-name="animate-to-center-center"] {
  -webkit-animation-name: animate-to-center-center;
  animation-name: animate-to-center-center;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-center-center {
  from { }
  to {
    background-position-x: 50%;
    background-position-y: 50%; } }

@keyframes animate-to-center-center {
  from { }
  to {
    background-position-x: 50%;
    background-position-y: 50%; } }

[data-animation-name="animate-to-center-right"] {
  -webkit-animation-name: animate-to-center-right;
  animation-name: animate-to-center-right;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-center-right {
  from { }
  to {
    background-position-x: 100%;
    background-position-y: 50%; } }

@keyframes animate-to-center-right {
  from { }
  to {
    background-position-x: 100%;
    background-position-y: 50%; } }

[data-animation-name="animate-to-bottom-left"] {
  -webkit-animation-name: animate-to-bottom-left;
  animation-name: animate-to-bottom-left;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-bottom-left {
  from { }
  to {
    background-position-x: 0%;
    background-position-y: 100%; } }

@keyframes animate-to-bottom-left {
  from { }
  to {
    background-position-x: 0%;
    background-position-y: 100%; } }

[data-animation-name="animate-to-bottom-center"] {
  -webkit-animation-name: animate-to-bottom-center;
  animation-name: animate-to-bottom-center;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-bottom-center {
  from { }
  to {
    background-position-x: 50%;
    background-position-y: 100%; } }

@keyframes animate-to-bottom-center {
  from { }
  to {
    background-position-x: 50%;
    background-position-y: 100%; } }

[data-animation-name="animate-to-bottom-right"] {
  -webkit-animation-name: animate-to-bottom-right;
  animation-name: animate-to-bottom-right;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes animate-to-bottom-right {
  from { }
  to {
    background-position-x: 100%;
    background-position-y: 100%; } }

@keyframes animate-to-bottom-right {
  from { }
  to {
    background-position-x: 100%;
    background-position-y: 100%; } }

/* 
  General Styling
*/
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #d4967d; }

::selection {
  background: #d4967d;
  color: #e1dfdf; }

div#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

#element-to-animate {
  width: 100%;
  height: 100%; }

.container-for-scroll {
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 30px; }

.page-title {
  text-align: center; }

button.full-width-button {
  width: 100%;
  height: 100%; }

button.flex-button {
  display: flex;
  justify-content: center;
  align-items: center; }

button.async-button {
  width: 133px;
  min-width: 133px;
  height: 54px; }

div.form-switch {
  padding-left: 0px !important;
  display: flex; }

.form-switch .form-check-input {
  margin-left: 1.5px !important;
  margin-top: 0px !important;
  align-self: flex-end; }

.form-switch .form-check-input:checked {
  background-color: #d4967d; }

.full-flex {
  display: flex;
  justify-content: center;
  align-items: center; }

button.animated-button {
  -webkit-animation-name: animate-button;
  animation-name: animate-button;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

@keyframes animate-button {
  from {
    box-shadow: 0px 0px 10px transparent; }
  to {
    box-shadow: 0px 0px 10px #cff4fc;
    background-color: #cff4fc;
    color: #0b0b0b; } }

@-webkit-keyframes animate-button {
  from {
    box-shadow: 0px 0px 10px transparent; }
  to {
    box-shadow: 0px 0px 10px #cff4fc;
    background-color: #cff4fc;
    color: #0b0b0b; } }

/* 
  Theme Specific Styling
*/
[data-theme="Gradient"] {
  background-image: url("../../images/Gradient-Outline.jpg");
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  [data-theme="Gradient"] button.styled-button {
    background-color: #d4967d;
    color: #333333;
    border: 1.5px solid #333333; }
  [data-theme="Gradient"] button.styled-button:hover,
  [data-theme="Gradient"] button.styled-button:focus,
  [data-theme="Gradient"] button.styled-button:active {
    background-color: #333333;
    color: #d4967d;
    border: 1.5px solid #d4967d;
    box-shadow: 0px 0px 10px #d4967d; }
  [data-theme="Gradient"] h1 {
    color: #333333; }
  [data-theme="Gradient"] ::-webkit-input-placeholder {
    color: #6b6b6b;
    opacity: 1;
    /* Firefox */ }
  [data-theme="Gradient"] ::-moz-placeholder {
    color: #6b6b6b;
    opacity: 1;
    /* Firefox */ }
  [data-theme="Gradient"] :-ms-input-placeholder {
    color: #6b6b6b;
    opacity: 1;
    /* Firefox */ }
  [data-theme="Gradient"] ::-ms-input-placeholder {
    color: #6b6b6b;
    opacity: 1;
    /* Firefox */ }
  [data-theme="Gradient"] ::placeholder {
    color: #6b6b6b;
    opacity: 1;
    /* Firefox */ }
  [data-theme="Gradient"] :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #6b6b6b; }
  [data-theme="Gradient"] ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #6b6b6b; }
  [data-theme="Gradient"] ::-webkit-scrollbar-track {
    border-radius: 5px; }
  [data-theme="Gradient"] ::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 5px; }
  [data-theme="Gradient"] ::-webkit-scrollbar-thumb:hover {
    background: #bebebe; }
  [data-theme="Gradient"] .animated-alert {
    -webkit-animation-name: animated-alert;
    animation-name: animated-alert;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    opacity: 0%; }

@keyframes animated-alert {
  from {
    opacity: 0%; }
  to {
    opacity: 100%;
    box-shadow: 0px 0px 10px #e1dfdf; } }

@-webkit-keyframes animated-alert {
  from {
    opacity: 0%; }
  to {
    opacity: 100%;
    box-shadow: 0px 0px 10px #e1dfdf; } }

[data-theme="Light"] {
  background-color: #e9e9e9;
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  [data-theme="Light"] button.styled-button {
    background-color: #d4967d;
    color: #e1dfdf;
    border: 1.5px solid #bebebe; }
  [data-theme="Light"] button.styled-button:hover,
  [data-theme="Light"] button.styled-button:focus,
  [data-theme="Light"] button.styled-button:active {
    background-color: #e1dfdf;
    color: #d4967d;
    border: 1.5px solid #d4967d;
    box-shadow: 0px 0px 10px #d4967d; }
  [data-theme="Light"] h1 {
    color: #333333; }
  [data-theme="Light"] ::-webkit-input-placeholder {
    color: #bebebe;
    opacity: 1;
    /* Firefox */ }
  [data-theme="Light"] ::-moz-placeholder {
    color: #bebebe;
    opacity: 1;
    /* Firefox */ }
  [data-theme="Light"] :-ms-input-placeholder {
    color: #bebebe;
    opacity: 1;
    /* Firefox */ }
  [data-theme="Light"] ::-ms-input-placeholder {
    color: #bebebe;
    opacity: 1;
    /* Firefox */ }
  [data-theme="Light"] ::placeholder {
    color: #bebebe;
    opacity: 1;
    /* Firefox */ }
  [data-theme="Light"] :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bebebe; }
  [data-theme="Light"] ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #bebebe; }
  [data-theme="Light"] ::-webkit-scrollbar-track {
    border-radius: 5px; }
  [data-theme="Light"] ::-webkit-scrollbar-thumb {
    background: #e9e9e9;
    border-radius: 5px; }
  [data-theme="Light"] ::-webkit-scrollbar-thumb:hover {
    background: #6b6b6b; }
  [data-theme="Light"] .animated-alert {
    -webkit-animation-name: animated-alert-light;
    animation-name: animated-alert-light;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    opacity: 0%; }

@keyframes animated-alert-light {
  from {
    opacity: 0%; }
  to {
    opacity: 100%;
    box-shadow: 0px 0px 10px #0b0b0b; } }

@-webkit-keyframes animated-alert-light {
  from {
    opacity: 0%; }
  to {
    opacity: 100%;
    box-shadow: 0px 0px 10px #0b0b0b; } }

[data-theme="Dark"] {
  background-color: #333333;
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  [data-theme="Dark"] button.styled-button {
    background-color: #d4967d;
    color: #333333;
    border: 1.5px solid #6b6b6b; }
  [data-theme="Dark"] button.styled-button:hover,
  [data-theme="Dark"] button.styled-button:focus,
  [data-theme="Dark"] button.styled-button:active {
    background-color: #333333;
    color: #d4967d;
    border: 1.5px solid #d4967d;
    box-shadow: 0px 0px 10px #d4967d; }
  [data-theme="Dark"] h1 {
    color: #e1dfdf; }
  [data-theme="Dark"] .form-switch .form-check-input {
    background-color: #d4967d;
    border: 1.25px solid #6b6b6b;
    background-image: url("../../images/White_Switch_BG.png") !important; }
  [data-theme="Dark"] .form-switch .form-check-input:checked {
    background-image: url("../../images/Black_Switch_BG.png") !important;
    border: 1.5px solid #6b6b6b; }
  [data-theme="Dark"] .form-switch .form-check-input:active,
  [data-theme="Dark"] .form-switch .form-check-input:hover,
  [data-theme="Dark"] .form-switch .form-check-input:focus {
    background-image: url("../../images/Brown_Switch_BG.png") !important;
    box-shadow: 0px 0px 10px #d4967d;
    border: 1.5px solid #d4967d;
    background-color: #333333; }
  [data-theme="Dark"] .form-switch .form-check-input:checked:active,
  [data-theme="Dark"] .form-switch .form-check-input:checked:hover,
  [data-theme="Dark"] .form-switch .form-check-input:checked:focus {
    background-image: url("../../images/Brown_Switch_BG.png") !important;
    box-shadow: 0px 0px 10px #d4967d;
    border: 1.5px solid #d4967d;
    background-color: #333333; }
  [data-theme="Dark"] ::-webkit-input-placeholder {
    color: #6b6b6b;
    opacity: 1;
    /* Firefox */ }
  [data-theme="Dark"] ::-moz-placeholder {
    color: #6b6b6b;
    opacity: 1;
    /* Firefox */ }
  [data-theme="Dark"] :-ms-input-placeholder {
    color: #6b6b6b;
    opacity: 1;
    /* Firefox */ }
  [data-theme="Dark"] ::-ms-input-placeholder {
    color: #6b6b6b;
    opacity: 1;
    /* Firefox */ }
  [data-theme="Dark"] ::placeholder {
    color: #6b6b6b;
    opacity: 1;
    /* Firefox */ }
  [data-theme="Dark"] :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #6b6b6b; }
  [data-theme="Dark"] ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #6b6b6b; }
  [data-theme="Dark"] ::-webkit-scrollbar-track {
    border-radius: 5px; }
  [data-theme="Dark"] ::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 5px; }
  [data-theme="Dark"] ::-webkit-scrollbar-thumb:hover {
    background: #bebebe; }

[data-theme="Gradient"] .animated-alert,
[data-theme="Dark"] .animated-alert {
  -webkit-animation-name: animated-alert;
  animation-name: animated-alert;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  opacity: 0%; }

@keyframes animated-alert {
  from {
    opacity: 0%; }
  to {
    opacity: 100%;
    box-shadow: 0px 0px 10px #e1dfdf; } }

@-webkit-keyframes animated-alert {
  from {
    opacity: 0%; }
  to {
    opacity: 100%;
    box-shadow: 0px 0px 10px #e1dfdf; } }
