#timeElapsed,
#estimatedTimeRemaining {
  display: flex;
  justify-content: center;
  align-items: center; }

[data-theme="Gradient"] #timeElapsed,
[data-theme="Gradient"] #estimatedTimeRemaining {
  color: white; }

[data-theme="Light"] #timeElapsed,
[data-theme="Light"] #estimatedTimeRemaining {
  color: black; }

[data-theme="Dark"] #timeElapsed,
[data-theme="Dark"] #estimatedTimeRemaining {
  color: white; }
