#timeElapsed,
#estimatedTimeRemaining {
  display: flex;
  justify-content: center;
  align-items: center; }

[data-theme="Gradient"] #timeElapsed,
[data-theme="Gradient"] #estimatedTimeRemaining {
  color: #e1dfdf; }

[data-theme="Light"] #timeElapsed,
[data-theme="Light"] #estimatedTimeRemaining {
  color: #0b0b0b; }

[data-theme="Dark"] #timeElapsed,
[data-theme="Dark"] #estimatedTimeRemaining {
  color: #e1dfdf; }
