[data-theme="light"] #titleBar {
  background-color: rgba(190, 190, 190, 0.5); }

[data-theme="light"] #titleBarButtonContainer svg {
  color: #333333;
  opacity: 85%; }

[data-theme="light"] #titleBarButtonContainer .title-bar-button,
[data-theme="light"] #titleBarButtonContainer .title-bar-button-close {
  color: #333333;
  opacity: 85%;
  border-radius: 0px; }

[data-theme="light"] #titleBarButtonContainer .title-bar-button-close {
  color: #333333;
  opacity: 85%; }

[data-theme="light"] #titleBarButtonContainer .title-bar-button:hover {
  background-color: rgba(51, 51, 51, 0.8); }
  [data-theme="light"] #titleBarButtonContainer .title-bar-button:hover svg {
    color: #fcfcfc; }

[data-theme="light"] #titleBarButtonContainer .title-bar-button-close:hover {
  background-color: rgba(255, 0, 0, 0.8); }
  [data-theme="light"] #titleBarButtonContainer .title-bar-button-close:hover svg {
    color: #333333; }

[data-theme="light"] #titleBarLogoContainer h5 {
  color: #333333; }

[data-theme="gradient"] #titleBar,
[data-theme="dark"] #titleBar {
  background-color: rgba(107, 107, 107, 0.5); }

[data-theme="gradient"] #titleBarButtonContainer svg,
[data-theme="dark"] #titleBarButtonContainer svg {
  color: #fcfcfc;
  opacity: 85%; }

[data-theme="gradient"] #titleBarButtonContainer .title-bar-button,
[data-theme="gradient"] #titleBarButtonContainer .title-bar-button-close,
[data-theme="dark"] #titleBarButtonContainer .title-bar-button,
[data-theme="dark"] #titleBarButtonContainer .title-bar-button-close {
  color: #fcfcfc;
  opacity: 85%;
  border-radius: 0px; }

[data-theme="gradient"] #titleBarButtonContainer .title-bar-button-close,
[data-theme="dark"] #titleBarButtonContainer .title-bar-button-close {
  color: #fcfcfc;
  opacity: 85%; }

[data-theme="gradient"] #titleBarButtonContainer .title-bar-button:hover,
[data-theme="dark"] #titleBarButtonContainer .title-bar-button:hover {
  background-color: rgba(252, 252, 252, 0.8); }
  [data-theme="gradient"] #titleBarButtonContainer .title-bar-button:hover svg,
  [data-theme="dark"] #titleBarButtonContainer .title-bar-button:hover svg {
    color: #333333; }

[data-theme="gradient"] #titleBarButtonContainer .title-bar-button-close:hover,
[data-theme="dark"] #titleBarButtonContainer .title-bar-button-close:hover {
  background-color: rgba(246, 96, 96, 0.8); }
  [data-theme="gradient"] #titleBarButtonContainer .title-bar-button-close:hover svg,
  [data-theme="dark"] #titleBarButtonContainer .title-bar-button-close:hover svg {
    color: #fcfcfc; }

[data-theme="gradient"] #titleBarLogoContainer h5,
[data-theme="dark"] #titleBarLogoContainer h5 {
  color: #fcfcfc; }

#titleBar {
  height: 32px;
  width: 100%; }

#titleBarRow {
  margin-left: 0px;
  margin-right: 0px; }

#titleBarRow,
#titleBarRow div.col {
  max-height: 32px; }

#titleBarButtonContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 0px; }

.title-bar-button,
.title-bar-button-close {
  max-height: 100%; }
  .title-bar-button:focus,
  .title-bar-button-close:focus {
    box-shadow: none; }

#titleBarLogoContainer {
  display: flex;
  align-items: center;
  -webkit-app-region: drag; }

#titleBarLogoContainer h5 {
  margin-bottom: 0px;
  margin-left: 5px; }

.title-logo {
  max-height: 28px; }
