[data-animation-name="animate-to-top-left"] {
  -webkit-animation-name: animate-to-top-left;
  animation-name: animate-to-top-left;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes animate-to-top-left {
  from {
  }
  to {
    background-position-x: 0%;
    background-position-y: 0%;
  }
}

@keyframes animate-to-top-left {
  from {
  }
  to {
    background-position-x: 0%;
    background-position-y: 0%;
  }
}

[data-animation-name="animate-to-top-center"] {
  -webkit-animation-name: animate-to-top-center;
  animation-name: animate-to-top-center;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes animate-to-top-center {
  from {
  }
  to {
    background-position-x: 50%;
    background-position-y: 0%;
  }
}

@keyframes animate-to-top-center {
  from {
  }
  to {
    background-position-x: 50%;
    background-position-y: 0%;
  }
}

[data-animation-name="animate-to-top-right"] {
  -webkit-animation-name: animate-to-top-right;
  animation-name: animate-to-top-right;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes animate-to-top-right {
  from {
  }
  to {
    background-position-x: 100%;
    background-position-y: 0%;
  }
}

@keyframes animate-to-top-right {
  from {
  }
  to {
    background-position-x: 100%;
    background-position-y: 0%;
  }
}

[data-animation-name="animate-to-center-left"] {
  -webkit-animation-name: animate-to-center-left;
  animation-name: animate-to-center-left;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes animate-to-center-left {
  from {
  }
  to {
    background-position-x: 0%;
    background-position-y: 50%;
  }
}

@keyframes animate-to-center-left {
  from {
  }
  to {
    background-position-x: 0%;
    background-position-y: 50%;
  }
}

[data-animation-name="animate-to-center-center"] {
  -webkit-animation-name: animate-to-center-center;
  animation-name: animate-to-center-center;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes animate-to-center-center {
  from {
  }
  to {
    background-position-x: 50%;
    background-position-y: 50%;
  }
}

@keyframes animate-to-center-center {
  from {
  }
  to {
    background-position-x: 50%;
    background-position-y: 50%;
  }
}

[data-animation-name="animate-to-center-right"] {
  -webkit-animation-name: animate-to-center-right;
  animation-name: animate-to-center-right;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes animate-to-center-right {
  from {
  }
  to {
    background-position-x: 100%;
    background-position-y: 50%;
  }
}

@keyframes animate-to-center-right {
  from {
  }
  to {
    background-position-x: 100%;
    background-position-y: 50%;
  }
}

[data-animation-name="animate-to-bottom-left"] {
  -webkit-animation-name: animate-to-bottom-left;
  animation-name: animate-to-bottom-left;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes animate-to-bottom-left {
  from {
  }
  to {
    background-position-x: 0%;
    background-position-y: 100%;
  }
}

@keyframes animate-to-bottom-left {
  from {
  }
  to {
    background-position-x: 0%;
    background-position-y: 100%;
  }
}

[data-animation-name="animate-to-bottom-center"] {
  -webkit-animation-name: animate-to-bottom-center;
  animation-name: animate-to-bottom-center;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes animate-to-bottom-center {
  from {
  }
  to {
    background-position-x: 50%;
    background-position-y: 100%;
  }
}

@keyframes animate-to-bottom-center {
  from {
  }
  to {
    background-position-x: 50%;
    background-position-y: 100%;
  }
}

[data-animation-name="animate-to-bottom-right"] {
  -webkit-animation-name: animate-to-bottom-right;
  animation-name: animate-to-bottom-right;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes animate-to-bottom-right {
  from {
  }
  to {
    background-position-x: 100%;
    background-position-y: 100%;
  }
}

@keyframes animate-to-bottom-right {
  from {
  }
  to {
    background-position-x: 100%;
    background-position-y: 100%;
  }
}
