.login-body {
  background-image: url("/Gradient-Outline.jpg");
  overflow-y: hidden;
}

@media only screen and (min-width: 2500px) {
  .login-body {
    background-size: cover;
  }
}

.forgot-password {
  color: white;
  text-decoration: none !important;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
  color: darken($color: white, $amount: 20);
  text-decoration: none !important;
}

.login-form {
  border: 2px solid white;
  padding: 50px;
  border-radius: 15px;
  background-color: $transparent-black-1;
  width: 80%;
}

.login-form-wrapper {
  -webkit-animation-name: fade-in-login;
  animation-name: fade-in-login;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@-webkit-keyframes fade-in-login {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fade-in-login {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.login-form input,
.login-form .form-label,
.login-form label {
  color: white;
}

.login-form label {
  opacity: 0%;
}

.login-form input {
  background-color: $transparent-black-1;
}

.login-form input,
.forgot-password {
  opacity: 0%;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-name: fade-in-login;
  animation-name: fade-in-login;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.login-form input:hover,
.login-form input:focus,
.login-form input:active {
  background-color: $transparent-black-2;
  color: white;
  box-shadow: 0 0 0 0.25rem $transparent-white-1;
}

.login-button {
  border: 1px solid white;
  opacity: 0%;
  background-color: $transparent-black-1;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-name: fade-in-login;
  animation-name: fade-in-login;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.login-form label {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-name: fade-in-login;
  animation-name: fade-in-login;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

#remember-password-checkbox {
  background-color: $transparent-black-1 !important;
  border-color: white;
}

#remember-password-checkbox:active,
#remember-password-checkbox:focus,
#remember-password-checkbox:hover {
  background-color: $transparent-black-2 !important;
}

.login-button:hover,
.login-button:focus,
.login-button:active {
  background-color: $transparent-black-2;
  border: 1px solid white;
  color: white;
}

.login-logo {
  width: 35%;
  border-radius: 15px;
  margin-bottom: 20px;
  opacity: 0%;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-name: fade-in-login;
  animation-name: fade-in-login;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
