@import "variables/light-mode-variables";
@import "variables/dark-mode-variables";
@import "variables/common-variables";

[data-theme="gradient"] {
  h1 {
    color: $bg-dark;
  }
}

[data-theme="light"] {
  h1 {
    color: $bg-dark;
  }
}

[data-theme="dark"] {
  h1 {
    color: $white;
  }
}
