@import "variables/light-mode-variables";
@import "variables/dark-mode-variables";
@import "variables/common-variables";

[data-theme="Gradient"] {
  h1 {
    color: $white;
  }
}

[data-theme="Light"] {
  h1 {
    color: $bg-dark;
  }
}

[data-theme="Dark"] {
  h1 {
    color: $white;
  }
}
