@import "variables/light-mode-variables";
@import "variables/dark-mode-variables";

/* 
  General Styling
*/

div.event-log {
  border-radius: 5px;
}

/* 
  Theme Specific Styling
*/

[data-theme="Gradient"] {
  div.event-log {
    background-color: $bg-secondary-dark;
    color: $color-text-dark;
    border: 1px solid $bg-light;
  }
}

[data-theme="Light"] {
  div.event-log {
    background-color: $bg-secondary-light;
    color: $color-text-light;
    border: 1px solid $bg-dark;
  }
}

[data-theme="Dark"] {
  div.event-log {
    background-color: $bg-secondary-dark;
    color: $color-text-dark;
    border: 1px solid $bg-light;
  }
}

div.event-log {
  overflow-y: scroll;
  max-height: 75vh;
}

[data-theme="Light"] {
  div.event-log > div.row > div {
    &.red-message {
      color: $red-message-light;
    }
    &.orange-message {
      color: $orange-message-light;
    }
    &.yellow-message {
      color: $yellow-message-light;
    }
    &.green-message {
      color: $green-message-light;
    }
    &.blue-message {
      color: $blue-message-light;
    }
    &.purple-message {
      color: $purple-message-light;
    }
  }
}

[data-theme="Dark"],
[data-theme="Gradient"] {
  div.event-log > div.row > div {
    &.red-message {
      color: $red-message-dark;
    }
    &.orange-message {
      color: $orange-message-dark;
    }
    &.yellow-message {
      color: $yellow-message-dark;
    }
    &.green-message {
      color: $green-message-dark;
    }
    &.blue-message {
      color: $blue-message-dark;
    }
    &.purple-message {
      color: $purple-message-dark;
    }
  }
}
