@import "variables/light-mode-variables";
@import "variables/dark-mode-variables";
@import "variables/common-variables";

/* 
  General Styling
*/

#numericalProgressTracker {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
  Theme Specific Styling
*/

[data-theme="Gradient"] {
  #numericalProgressTracker {
    color: $bg-dark;
  }
}

[data-theme="Light"] {
  #numericalProgressTracker {
    color: $black;
  }
}

[data-theme="Dark"] {
  #numericalProgressTracker {
    color: $white;
  }
}
