@import "variables/light-mode-variables";
@import "variables/dark-mode-variables";
@import "variables/common-variables";

#numericalProgressTracker {
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-theme="gradient"] {
  #numericalProgressTracker {
    color: $bg-dark;
  }
}

[data-theme="light"] {
  #numericalProgressTracker {
    color: $bg-secondary-light;
  }
}

[data-theme="dark"] {
  #numericalProgressTracker {
    color: $bg-secondary-dark;
  }
}
