@import "variables/light-mode-variables";
@import "variables/dark-mode-variables";
@import "variables/common-variables";

#spreadsheetPreviewer th,
#spreadsheetPreviewer td {
  text-align: center;
}

[data-theme="Light"] {
  #spreadsheetPreviewer th,
  #spreadsheetPreviewer td {
    background-color: $bg-secondary-light;
    color: $black;
    border: 1px solid $black;
  }
}

[data-theme="Gradient"],
[data-theme="Dark"] {
  #spreadsheetPreviewer th,
  #spreadsheetPreviewer td {
    background-color: $bg-secondary-dark;
    color: $white;
    border: 1px solid $white;
  }
}
