@import "variables/light-mode-variables";
@import "variables/dark-mode-variables";
@import "variables/common-variables";
@import "partials/background-animations";

[data-theme="light"] {
  background-color: $bg-light;
  button.brown-button {
    background-color: $brown;
    color: $white;
    border: 1px solid $bg-light;
  }

  button.brown-button:hover {
    background-color: $white;
    color: $brown;
    border: 1px solid $brown;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $bg-secondary-light;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $bg-secondary-light;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $bg-secondary-light;
  }
}

[data-theme="dark"] {
  background-color: $bg-dark;
  button.brown-button {
    background-color: $brown;
    color: $bg-dark;
    border: 1px solid $bg-dark;
  }

  button.brown-button:hover,
  button.brown-button:focus,
  button.brown-button:active {
    background-color: $bg-dark;
    color: $brown;
    border: 1px solid $brown;
    box-shadow: 0px 0px 10px $brown;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $bg-secondary-dark;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $bg-secondary-dark;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $bg-secondary-dark;
  }
}

div#root {
  width: 100vw;
  height: 100vh;
}

div.container-fluid {
  width: 100%;
  height: 100%;
}

button.full-width-button {
  width: 100%;
  height: 100%;
}

button.brown-button:focus {
  box-shadow: 0 0 0 0.25rem lighten($brown, 15);
}
