@import "variables/light-mode-variables";
@import "variables/dark-mode-variables";
@import "variables/common-variables";
@import "partials/background-animations";

[data-theme="gradient"] {
  background-image: url("../../images/Gradient-Outline.jpg");
  button.brown-button {
    background-color: $brown;
    color: $white;
    border: 1px solid $bg-light;
  }

  button.brown-button:hover,
  button.brown-button:focus,
  button.brown-button:active {
    background-color: $white;
    color: $brown;
    border: 1px solid $brown;
    box-shadow: 0px 0px 10px $brown;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $bg-secondary-light;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $bg-secondary-light;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $bg-secondary-light;
  }
  .animated-alert {
    animation-name: animated-alert;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    opacity: 0%;
  }

  @keyframes animated-alert {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
      box-shadow: 0px 0px 10px $white;
    }
  }

  @-webkit-keyframes animated-alert {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
      box-shadow: 0px 0px 10px $white;
    }
  }
}

[data-theme="light"] {
  background-color: $bg-light;
  button.brown-button {
    background-color: $brown;
    color: $white;
    border: 1px solid $bg-light;
  }

  button.brown-button:hover,
  button.brown-button:focus,
  button.brown-button:active {
    background-color: $white;
    color: $brown;
    border: 1px solid $brown;
    box-shadow: 0px 0px 10px $brown;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $bg-secondary-light;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $bg-secondary-light;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $bg-secondary-light;
  }
  .animated-alert {
    animation-name: animated-alert-light;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    opacity: 0%;
  }

  @keyframes animated-alert-light {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
      box-shadow: 0px 0px 10px $black;
    }
  }

  @-webkit-keyframes animated-alert-light {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
      box-shadow: 0px 0px 10px $black;
    }
  }
}

[data-theme="dark"] {
  background-color: $bg-dark;
  button.brown-button {
    background-color: $brown;
    color: $bg-dark;
    border: 1px solid $bg-dark;
  }

  button.brown-button:hover,
  button.brown-button:focus,
  button.brown-button:active {
    background-color: $bg-dark;
    color: $brown;
    border: 1px solid $brown;
    box-shadow: 0px 0px 10px $brown;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $bg-secondary-dark;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $bg-secondary-dark;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $bg-secondary-dark;
  }
}

[data-theme="gradient"],
[data-theme="dark"] {
  .animated-alert {
    animation-name: animated-alert;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    opacity: 0%;
  }

  @keyframes animated-alert {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
      box-shadow: 0px 0px 10px $white;
    }
  }

  @-webkit-keyframes animated-alert {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
      box-shadow: 0px 0px 10px $white;
    }
  }
}

div#root {
  width: 100vw;
  height: 100vh;
}

div.container-fluid {
  width: 100%;
  height: 100%;
}

button.full-width-button {
  width: 100%;
  height: 100%;
}

button.brown-button:focus {
  box-shadow: 0 0 0 0.25rem lighten($brown, 15);
}

button.animated-button {
  -webkit-animation-name: animate-button;
  animation-name: animate-button;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@keyframes animate-button {
  from {
    box-shadow: 0px 0px 10px transparent;
  }
  to {
    box-shadow: 0px 0px 10px $blue;
    background-color: $blue;
    border: 1px solid $black;
    color: $black;
  }
}

@-webkit-keyframes animate-button {
  from {
    box-shadow: 0px 0px 10px transparent;
  }
  to {
    box-shadow: 0px 0px 10px $blue;
    background-color: $blue;
    border: 1px solid $black;
    color: $black;
  }
}
