@import "variables/light-mode-variables";
@import "variables/dark-mode-variables";
@import "variables/common-variables";

#timeElapsed,
#estimatedTimeRemaining {
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-theme="Gradient"] {
  #timeElapsed,
  #estimatedTimeRemaining {
    color: $white;
  }
}

[data-theme="Light"] {
  #timeElapsed,
  #estimatedTimeRemaining {
    color: $black;
  }
}

[data-theme="Dark"] {
  #timeElapsed,
  #estimatedTimeRemaining {
    color: $white;
  }
}
