@import "variables/light-mode-variables";
@import "variables/dark-mode-variables";
@import "variables/common-variables";

[data-theme="gradient"] {
  #titleBar {
    background-color: $bg-secondary-dark;
  }
}

[data-theme="light"] {
  #titleBar {
    background-color: $bg-secondary-light;
  }
}

[data-theme="dark"] {
  #titleBar {
    background-color: $bg-secondary-dark;
  }

  #titleBarButtonContainer svg {
    color: $color-text-dark;
    opacity: 85%;
  }

  #titleBarButtonContainer .title-bar-button,
  #titleBarButtonContainer .title-bar-button-close {
    color: $color-text-dark;
    opacity: 85%;
    border-radius: 0px;
  }

  #titleBarButtonContainer .title-bar-button-close {
    color: $color-text-dark;
    opacity: 85%;
  }

  #titleBarButtonContainer .title-bar-button:hover {
    background-color: rgba($color-text-dark, 0.8);
    svg {
      color: $bg-dark;
    }
  }

  #titleBarButtonContainer .title-bar-button-close:hover {
    background-color: rgba($red-message-dark, 0.8);
    svg {
      color: $color-text-dark;
    }
  }

  #titleBarLogoContainer {
    h5 {
      color: $color-text-dark;
    }
  }
}

#titleBar {
  height: 32px;
  width: 100%;
}

#titleBarRow {
  margin-left: 0px;
  margin-right: 0px;
}

#titleBarRow,
#titleBarRow div.col {
  max-height: 32px;
}

#titleBarButtonContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 0px;
}

.title-bar-button,
.title-bar-button-close {
  max-height: 100%;
  &:focus {
    box-shadow: none;
  }
}

#titleBarLogoContainer {
  display: flex;
  align-items: center;
  -webkit-app-region: drag;
}

#titleBarLogoContainer {
  h5 {
    margin-bottom: 0px;
    margin-left: 5px;
  }
}

.title-logo {
  max-height: 28px;
}
