@import "variables/light-mode-variables";
@import "variables/dark-mode-variables";
@import "variables/common-variables";

/* 
  General Styling
*/

div.card {
  border-radius: 5px;
}

div.card:hover,
div.card:focus,
div.card:active {
  box-shadow: 0px 0px 10px $brown;
  svg {
    color: $brown;
  }
}

.card-title {
  font-weight: bold;
}

.card-body-row {
  display: block;
}

.card-body-row svg {
  color: $brown;
  width: 16px;
  margin-right: 10px;
}

/* 
  Theme Specific Styling
*/

[data-theme="Light"] {
  div.card {
    background-color: $bg-secondary-light;
    border: 1px solid $black;
  }

  div.card-body {
    color: $black;
  }

  .card-body-row .completed-icon svg {
    color: $green-message-light;
  }

  .card-body-row .cancelled-icon svg {
    color: $yellow-message-light;
  }

  .card-body-row .failed-icon svg {
    color: $red-message-light;
  }
}

[data-theme="Gradient"],
[data-theme="Dark"] {
  div.card {
    background-color: $bg-secondary-dark;
    border: 1px solid $white;
  }

  div.card-body {
    color: $white;
  }

  .card-body-row .completed-icon svg {
    color: $green-message-dark;
  }

  .card-body-row .cancelled-icon svg {
    color: $yellow-message-dark;
  }

  .card-body-row .failed-icon svg {
    color: $red-message-dark;
  }
}
