@import "variables/light-mode-variables";
@import "variables/dark-mode-variables";
@import "variables/common-variables";
/* 
  General Styling
*/

div#event-log {
  border-radius: 5px;
  overflow-y: scroll;
  height: 100%;
  max-height: 50vh;
}

.nav-link {
  color: $brown;
}

tbody td {
  vertical-align: middle;
}

/* 
  Theme Specific Styling
*/

[data-theme="Light"] {
  div#event-log {
    background-color: $bg-secondary-light;
    color: $color-text-light;
    border: 1px solid $bg-dark;
  }

  div#event-log > div.row > div {
    &.regular-message {
      color: inherit;
    }
    &.red-message {
      color: $red-message-light;
    }
    &.orange-message {
      color: $orange-message-light;
    }
    &.yellow-message {
      color: $yellow-message-light;
    }
    &.green-message {
      color: $green-message-light;
    }
    &.blue-message {
      color: $blue-message-light;
    }
    &.purple-message {
      color: $purple-message-light;
    }
  }

  .nav-link.active {
    background-color: $bg-secondary-light;
    color: $black;
  }

  .nav-link:hover {
    color: $black;
  }
}

[data-theme="Dark"],
[data-theme="Gradient"] {
  div#event-log {
    background-color: $bg-secondary-dark;
    color: $color-text-dark;
    border: 1px solid $bg-light;
  }

  div#event-log > div.row > div {
    &.regular-message {
      color: inherit;
    }
    &.red-message {
      color: $red-message-dark;
    }
    &.orange-message {
      color: $orange-message-dark;
    }
    &.yellow-message {
      color: $yellow-message-dark;
    }
    &.green-message {
      color: $green-message-dark;
    }
    &.blue-message {
      color: $blue-message-dark;
    }
    &.purple-message {
      color: $purple-message-dark;
    }
  }

  .nav-link.active {
    background-color: $bg-secondary-dark;
    color: $white;
  }

  .nav-link:hover {
    color: $white;
  }
}
