@import "variables/light-mode-variables";
@import "variables/dark-mode-variables";

div.home-page {
  background-image: url("../images/Gradient-Outline.jpg");
  overflow-y: hidden;
}

.home-body div.container {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

#versionNumberWrapper,
#updateMessageWrapper {
  border-radius: 0.25rem;
}

#updateMessageWrapper span {
  font-size: x-large;
}

/* 
  Theme Specific Styling
*/

[data-theme="Light"] {
  #versionNumberWrapper,
  #updateMessageWrapper {
    background-color: transparentize($color: $bg-light, $amount: 0.6);
    color: $color-text-light;
  }
}

[data-theme="Gradient"],
[data-theme="Dark"] {
  #versionNumberWrapper,
  #updateMessageWrapper {
    background-color: transparentize($color: $bg-secondary-dark, $amount: 0.6);
    color: $color-text-dark;
  }
}

/* 
  Animations
*/

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
