@import "variables/light-mode-variables";
@import "variables/dark-mode-variables";
@import "variables/common-variables";

#progressBar,
#progressBarWrapper,
#progressBarFrostEffect {
  border-radius: 5px;
}

#progressBarWrapper {
  height: 32px;
  position: relative;
  padding: 0px !important;
  z-index: 0;
}

#progressBar,
#progressBarFrostEffect {
  height: 100%;
  position: absolute;
  top: 1%;
}

#progressBar {
  z-index: 1;
  background-color: $brown;
}

#progressBarFrostEffect {
  z-index: 2;
  background-color: rgba($white, 0.4);
  -webkit-animation: frostEffectAnimation 5s infinite;
  animation: frostEffectAnimation 5s infinite;
}

#progressPercentage {
  z-index: 3;
  margin-bottom: 0px !important;
  margin-top: 3.5px;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
}

[data-theme="Gradient"] {
  #progressBarWrapper {
    background-color: $bg-secondary-dark;
    border: 1px solid $bg-secondary-light;
  }

  #progressPercentage {
    color: $white;
  }
}

[data-theme="Light"] {
  #progressBarWrapper {
    background-color: $bg-secondary-light;
    border: 1px solid $bg-secondary-light;
  }

  #progressPercentage {
    color: $black;
  }
}

[data-theme="Dark"] {
  #progressBarWrapper {
    background-color: $bg-secondary-dark;
    border: 1px solid $bg-secondary-dark;
  }

  #progressPercentage {
    color: $white;
  }
}

@-webkit-keyframes frostEffectAnimation {
  from {
    width: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes frostEffectAnimation {
  from {
    width: 0%;
  }
  to {
    height: 100%;
  }
}
